@model IEnumerable<MyVanity.Model.FileModels.Impl.FileEditModelSync>
           
@if (Model.Any())
{
    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th></th>
                <th> @Html.DisplayNameFor(model => model.Name) </th>
                <th> @Html.DisplayNameFor(model => model.SelectedCategory) </th>
                <th> @Html.DisplayNameFor(model => model.SelectedSubcategory) </th>
                <th> @Html.DisplayNameFor(model => model.Description) </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td><input type="checkbox" id="file-selected" data-name="@item.Name" data-id="@item.Id" data-path="@item.Path"/></td>
                    <td>
                        @Html.DisplayFor(model => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Category.Name)
                    </td>
                    <td>
                        @if (item.Subcategory != null)
                        {
                            @Html.DisplayFor(model => item.Subcategory.Name)   
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Description)
                    </td>
                </tr>
            }
        </table>
    </div>
}
else
{
    <h4>@Html.Raw("No Files found")</h4>
}