@model MyVanity.Model.PatientDashboard.Impl.PatientDashboardViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="danielconde">

    <title>Home</title>

    <!--[if lt IE 9]>
        @Scripts.Render("~/bundles/js/ie8support")
    <![endif]-->
    
    <!--[if lt IE 8]>
	    @Styles.Render("~/Content/css/ie7support")
    <![endif]-->

    <!-- Custom styles for this template -->
    @Styles.Render("~/Content/css/core")
    @Styles.Render("~/Content/css/patientDashboard")
    @Styles.Render("~/Content/css/jquery-ui/jqueryui")
    @Styles.Render("~/Content/css/jqueryupload")
    @RenderSection("styles", false)
</head>
    <body>
        @Html.Partial("_LightboxPartial")
        @Html.HiddenFor(model => model.Patient.Id, new { id = "current-patient-id" })
        <!-- Header
            =======================-->
        <div class="navbar navbar-default header" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><img src="@Url.Content("~/Content/images/ic-header-logo.png")" />VANITY PATIENT CARE</a>
                </div>
                <div class="navbar-collapse collapse">
                    @if (Model.ScheduledProcedures != null)
                    {
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Procedures <b class="caret"></b></a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                                    @foreach (var item in Model.ScheduledProcedures)
                                    {
                                        <li role="presentation">
                                            <a role="menuitem" tabindex="-1" href="@Url.Action("Dashboard", "PatientDashboard", new { procedureId = item.Key })">@item.Value</a>
                                        </li>
                                    }
                                </ul>
                            </li>
                        </ul>
                    }
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <!--/.Header-->

        <!-- Main body
            =========================-->
        <div class="container mainBody">
            @RenderBody()
        </div><!--/.Main body -->  
        
        <!--Footer
            =============-->
        <div class="footer container">
            <p>"YOU ARE NEVER TO OLD TO SET A NEW GOAL OR TO DREAM A NEW DREAM"</p>
        </div><!--/.Footer--> 

        @Scripts.Render("~/bundles/js/patientDashboard")
        @Scripts.Render("~/bundles/js/imgResizeUpload")
        @RenderSection("scripts",false)
    </body>
</html>