<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="danielconde">

    <title></title>

    <!--[if lt IE 9]>
        @Scripts.Render("~/bundles/js/ie8support")
    <![endif]-->
    
    <!--[if lt IE 8]>
	    @Styles.Render("~/Content/css/ie7support")
    <![endif]-->

    <!-- Custom styles for this template -->
    @Styles.Render("~/Content/css/core")
    @RenderSection("styles", false)
</head>
    <body>
        @RenderBody()
        @Scripts.Render("~/bundles/js/core")
        @RenderSection("scripts",false)
    </body>
</html>