@model IEnumerable<MyVanity.Model.PatientModels.Impl.PatientEditModel> 

@if (Model.Any())
{
    <div class="table-responsive">
        <table class="table">
            
            <tr>
                <th> @Html.DisplayNameFor(model => model.Profile.FirstName) </th>
                <th> @Html.DisplayNameFor(model => model.Profile.MiddleName) </th>
                <th> @Html.DisplayNameFor(model => model.Profile.LastName) </th>
                <th> @Html.DisplayNameFor(model => model.Id) </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => item.Profile.FirstName)     
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Profile.MiddleName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Profile.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Id)
                    </td>
                    <td>
                        <a href="#" class="btn btn-primary btn-sm select-user" data-name="@string.Format("{0} {1}", item.Profile.FirstName, item.Profile.MiddleName)" data-id="@item.Id">Select</a>
                    </td>
                </tr>
            }
        </table>
    </div>
}
else
{
    <h4>@Html.Raw("No Patients found")</h4>
}