@model IEnumerable<MyVanity.Model.PatientProcedureModels.Impl.PatientProcedureEditModel>

@if (Model.Any())
{
    <div class="table-responsive">
        <table class="table">

            <tr>
                <th> @Html.DisplayNameFor(model => model.PatientName) </th>
                <th> @Html.DisplayNameFor(model => model.SelectedProcedure) </th>
                <th> @Html.DisplayNameFor(model => model.SelectedDoctor) </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => item.PatientName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Procedure.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.FormattedAddedDoctors)
                    </td>
                    <td>
                        <a href="#" class="btn btn-primary btn-sm select-procedure" data-name="@item" id="@item.Id">Select</a>
                    </td>
                </tr>
            }
        </table>
    </div>
}
else
{
    <h4>@Html.Raw("No Procedures found")</h4>
}