@model MyVanity.Model.FileModels.Impl.FileEditModelSync

@{
    ViewBag.Title = "Create New Resource";
}

@section styles{
    @Styles.Render("~/Content/css/jqueryupload")
}

<h4>@ViewBag.Title</h4>
<hr />

<div class="form-horizontal">
    @using (Html.BeginForm("Edit", "Resources", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="form-group">
            <label class="col-md-2 control-label">File</label><span class="requiredStar">*</span>
            <div class="col-md-10">
                <strong><span id="filename"></span></strong>
                <span class="btn btn-default btn-sm fileinput-button">
                    <i class="glyphicon glyphicon-file"></i>
                    <span>Browse</span>
                    <input type="file" name="File" id="file">
                </span>
                <span id="file-upload-error" class="text-danger"></span>
            </div>
        </div>
        @Html.EditorForModel()
    }
</div>

@section scripts{
    @Scripts.Render("~/bundle/js/resources-edit")

    <script type="text/javascript">
        $(function () {
            var resourcesModule = new ResourcesEdit({
                categoriesDd: "#categories",
                acceptFileTypes: /(\.|\/)(jpe?g|png|doc|docx|pdf|mp4|ogg)$/i,
                fileName: "#filename",
                fileInput: "#file",
                realName: "#real-name-field"
            });

            resourcesModule.Init();
            resourcesModule.SetFileName('@Model.RealName');
        });
    </script>
}


