@model IEnumerable<MyVanity.Model.ResourceModels.UserProcedurePatientDocViewModel>
           
@if (!Model.Any())
{
    <h4>There are not files uploaded by patients</h4>
}
else
{
    <div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProcedureIdentifier)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PatientName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProcedureIdentifier)
                </td>
                <td>
                    @Html.ActionLink("Delete", "DeleteDoc", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
                    <a href="@Url.Action("DownloadFile", "FileManaging", new { path = item.Path })" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-download"></span>&nbsp;Download</a>
                    
                    @{
                        var isCensured = item.Censured;
                        var btnText = isCensured ? "Remove Censure" : "Censure";
                    }
                    <a href="@Url.Action("ChangeDocCensure", "Resources", new { id = item.Id, censure = !isCensured })" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-warning-sign"></span>&nbsp;@btnText</a>
                </td>
            </tr>
        }
    </table>
</div>

}

@section scripts {
<script>
    $("#resources-management-nav-item").addClass("active");
    $("#patient-documents").addClass("active");
</script>    
} 
