@using MyVanity.Web.Helpers.MvcHelpers
@model MyVanity.Model.ProcedureModels.Impl.ProcedureEditModel

<div class="form-horizontal">
    @Html.ValidationSummary(true)

    <div class="form-group">
        @Html.RequiredLabelFor(model => model.Description, new { @class = "col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Description, new { rows = "4" })
            @Html.ValidationMessageFor(model => model.Description)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.RegularPrice, new { @class = "col-md-2 currency" }) 
        <div class="col-md-10">
            @Html.EditorFor(model => model.RegularPrice)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.SalePrice, new { @class = "col-md-2 currency" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.SalePrice)
        </div>
    </div>
    <div class="form-group">
        @Html.RequiredLabelFor(model => model.SelectedCategoryId, new { @class = "col-md-2" })
        <div class="col-md-10">
            @Html.GDropDownListFor(model => model.SelectedCategoryId, Model.Categories, "Name", "Id", null, true, true)
            @Html.ValidationMessageFor(model => model.SelectedCategoryId)
        </div>
    </div>
    <div class="form-group">
        @Html.RequiredLabelFor(model => model.SelectedTypeId, new { @class = "col-md-2" })
        <div class="col-md-10">
            @Html.GDropDownListFor(model => model.SelectedTypeId, Model.Types, "Name", "Id", null, true, true)
            @Html.ValidationMessageFor(model => model.SelectedTypeId)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.PicturePath, new { @class = "control-label col-md-2" })
        @Html.HiddenFor(model => model.PicturePath, new { id = "picture-path" })

        <div class="col-md-10">
            @Html.ImageFor(model => model.PicturePath, "imgContainer", false, null, 84, 84)
        </div>
        <div class="col-md-10 col-md-offset-2" style="margin-top: 5px;">
            <span class="btn btn-info btn-xs fileinput-button">
                <i class="glyphicon glyphicon-camera"></i>
                <span>Browse</span>
                <input type="file" name="file" data-url="/FileManaging/UploadImage" id="fileupload">
            </span>
            <span id="file-upload-error" class="text-danger"></span>
        </div>

    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-success" />
        </div>
    </div>
</div>

<div>
    @Html.ActionLink("Back To List", "Index")
</div>

