@using System.Web.UI.WebControls
@model IEnumerable<MyVanity.Model.AppointmentModels.Impl.AppointmentEditModel>

@if (!Model.Any())
{
    return;
}

<div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProcedureIdentifier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProcedureIdentifier)
                </td>
                <td>
                    <span id="status-text-@item.Id" >@Html.DisplayFor(modelItem => item.Status)</span>
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary btn-sm" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
                    <button class="btn btn-info btn-sm status-btn" data-id="@item.Id">Status</button>
                </td>
            </tr>
        }
    </table>
</div>

