@model IEnumerable<MyVanity.Model.MessageModels.MessageEditModel> 

<div class="row">
    <div class="col-md-8">
        <div class="panel-group" id="accordion">
            @foreach (var item in Model.OrderBy(x => x.IsRead))
            {
                var unreadCls = item.IsRead ? "panel-info" : "panel-success";
                
                <div class="panel @unreadCls">
                    <div class="panel-heading">
                        <span class="panel-title">
                            From: @Html.DisplayFor(model => item.FromUserName), To: @Html.DisplayFor(model => item.ToUserName) 
                        </span>
                        @*@Html.ActionLink("Delete", "Delete", "Message", new { id = item.Id }, new { @class = "btn btn-danger btn-xs pull-right" }) &nbsp;*@
                        @Html.ActionLink("Reply", "ReplyTo", "Message", new { id = item.Id }, new { @class = "btn btn-default btn-xs pull-right" })
                        
                        <h4 class="panel-title subject">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse-@item.Id" class="collapsed">
                                Subject: @Html.DisplayFor(model => item.Subject)
                            </a>
                        </h4>  
                    </div>
                    <div id="collapse-@item.Id" data-id="@item.Id" class="panel-collapse collapse" style="height: 0px;">
                        <div class="panel-body">
                            @Html.DisplayFor(model => item.Body)
                        </div>
                    </div>
                </div>
            }
        </div>  
    </div>
</div>
   
