@model MyVanity.Model.AccountModels.LoginViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    H(T("Log in"));
}

@section styles{ 
    @Styles.Render("~/Content/css/login")
}

<div class="container">
        @using (Html.BeginForm("Login", "Account", new { ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-signin", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h2 class="form-signin-heading">@T("Please sign in now.")</h2>
            @Html.ValidationSummary(true)
                
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "email", required = true, autofocus = true, autocapitalize = "off", autocorrect = "off" })
            @Html.ValidationMessageFor(m => m.UserName)
                
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "password", required = true, autocapitalize = "off", autocorrect = "off" })
            @Html.ValidationMessageFor(m => m.Password)
               
            <label class="checkbox">
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe)
            </label>

            <input type="submit" value="@T("Log in")" class="btn btn-lg btn-primary btn-block" />   
        }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}