@model IEnumerable<MyVanity.Model.DoctorModels.Impl.DoctorEditModel>

@if (!Model.Any())
{
    return;
}

<div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Profile.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profile.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profile.MiddleName)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Profile.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Profile.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Profile.MiddleName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditDoctor", new { id = item.Id }, new { @class = "btn btn-primary btn-sm" })
                    @Html.ActionLink("Delete", "DeleteDoctor", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
                </td>
            </tr>
        }
    </table>
</div>
