@using MyVanity.Common
@using MyVanity.Web.Helpers.MvcHelpers
@model MyVanity.Model.AgentModels.Impl.AgentEditModel

@{
    ViewBag.Title = "Create Agent";
}

@section styles{
    @Styles.Render("~/Content/css/jqueryupload")
}

<h4>@ViewBag.Title</h4>
<hr />

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        @Html.EditorForModel()
        <div class="form-group">
            @Html.LabelFor(model => model.Type, new { @class= "control-label col-md-2"} )
            <div class="col-md-10">
                @Html.DropDownListForEnum(model => model.Type, false)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>  

@section scripts{
    @Scripts.Render("~/bundles/js/imgResizeUpload")

    <script>
        $(function() {
            var options = {
                inputSel: "#fileupload",
                relPath: "@Constants.AgentsPicsLocation",
                imgTagSel: "#imgContainer",
                inputGuidSel: "#picture-path",
                errorSpanSel: "#file-upload-error",
                width: 230,
                height:180
            };

            var imgUploader = new ImageUploader(options);
            imgUploader.Init();
        })
    </script>

}
