@using MyVanity.Model.Pager
@using MyVanity.Web.MvcHelpers
@model PagedViewModel<MyVanity.Model.MessageModels.MessageEditModel>

<div class="panel panel-default inbox-messages">
    <div class="panel-heading">
        <span class="panel-title">
            @{
                var messages = Model.Items;
            }
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse-outbox" class="collapsed">
                <span class="pink">(@Model.TotalRecords)</span>&nbsp;OUTBOX
            </a>
        </span>
    </div>
    <div id="collapse-outbox" class="panel-collapse collapse" style="height: 0px;">
        <div class="panel-body">
            @{
                if (messages != null && messages.Any())
                {
                    <div class="panel panel-default inbox-messages">
                        @foreach (var message in messages)
                        {
                            <div class="panel-heading" style="padding-left: 0px;">
                                <span class="panel-title">
                                    <span class="pink">From:</span> @message.ToUserName
                                    <br />
                                </span>
                                <a data-toggle="collapse" data-message-id="@message.Id" href="#collapse-outbox-@message.Id">
                                    <span class="pink">Subject:</span> @message.Subject<br />
                                </a>
                            </div>
                            <div id="collapse-outbox-@message.Id" data-toggle="collapse" class="panel-collapse collapse">
                                <p>
                                    @message.Body
                                </p>
                            </div>
                        }
                    </div>
                }
                else
                {
                    <span>You have no messages in the OUTBOX</span>
                }
            }

            @Html.SmallPager(Model, "Message", "PartialSent")
        </div>
    </div>
</div>

<script>
    $("#pager").pager({
        pageSelector: "#pageSelector",
        currentPage: @Model.Page,
        pageSize: @Model.PageSize,
        buttonSelector: "ul.pagination li"
    });
</script>