@model MyVanity.Model.ProfileModels.Contact.Impl.ContactModel

<div class="form-group">
    @Html.LabelFor(model => model.Address1, new { @class = "control-label col-md-4" })
    <div class="col-md-8">
        @Html.EditorFor(model => model.Address1)
        @Html.ValidationMessageFor(model => model.Address1)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Address2, new { @class = "control-label col-md-4" })
    <div class="col-md-8">
        @Html.EditorFor(model => model.Address2)
        @Html.ValidationMessageFor(model => model.Address2)
    </div>
</div>

<div class="form-group">
        @Html.LabelFor(model => model.Phone.Home, new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.Phone.Home, new { type = "phone" })
            @Html.ValidationMessageFor(model => model.Phone.Home)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Phone.Work, new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.Phone.Work, new { type = "phone" })
            @Html.ValidationMessageFor(model => model.Phone.Work)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Phone.Mobile, new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.Phone.Mobile, new { type = "phone" })
            @Html.ValidationMessageFor(model => model.Phone.Mobile)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ZipCode, new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.EditorFor(model => model.ZipCode)
            @Html.ValidationMessageFor(model => model.ZipCode)
        </div>
    </div>

