@using MyVanity.Web.Helpers.MvcHelpers
@model MyVanity.Model.PatientModels.Impl.PatientEditModel
           
<div class="form-horizontal">
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.CurrentAgent)
    @Html.HiddenFor(model => model.PatientNumber)

    <div class="form-group">
        @Html.HiddenFor(model => model.PicPath, new { id = "picture-path" })
        <div class="col-md-8 col-md-offset-4">
            @Html.ImageFor(model => model.PicPath, "imgContainer", false, "default", 120, 120)
            <div style="margin-top: 5px; margin-left: 23px;">
                <span class="btn btn-info btn-xs fileinput-button">
                    <i class="glyphicon glyphicon-camera"></i>
                    <span>Browse</span>
                    <input type="file" name="file" data-url="/FileManaging/UploadImage" id="fileupload">
                </span>
                <span id="file-upload-error" class="text-danger"></span>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6">
            @Html.EditorFor(model => model.Profile)
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.Email, new { type = "email" })
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            </div>
        </div>
       

        <div class="col-md-6">
            @Html.EditorFor(model => model.Contact)    
        </div>
    </div>
    
</div>