@using MyVanity.Web.MvcHelpers
@model MyVanity.Model.MessageModels.MessageIndexModel

<p>
    <a href="@Url.Action("Compose")" class="btn btn-default">
        <span class="glyphicon glyphicon-envelope"></span> Compose New
    </a>
</p>


@Html.DisplayFor(model => model.Items, "MessageList")

@if (Model.Items.Any())
{
    @Html.Pager(Model, "Message", "Inbox")
}

@section scripts{
    <script>
        $(function () {
            $("#inbox-nav-item").addClass("active");
            $("#messages-management-nav-item").addClass("active");

            $("#pager").pager({
                pageSelector: "#pageSelector",
                currentPage: @Model.Page,
                pageSize: @Model.PageSize 
            });

            $(".panel-success .collapse").on("shown.bs.collapse", function() {
                var collapse = $(this);

                if (collapse.hasClass("panel-info")) return false;

                var messageId = collapse.attr("data-id");

                $.ajax({
                    url: "/Message/SetMessageRead",
                    data: { messageId: messageId },
                    method: "POST",
                    success: function (result) {
                        if (result.success) {
                            var panel = collapse.parent("", "panel");
                            
                            panel.removeClass("panel-success");
                            panel.addClass("panel-info");
                        }
                    }
                });
            });
        });
    </script>
}