@using MyVanity.Common
@model MyVanity.Model.DoctorModels.Impl.DoctorEditModel

@section styles{
    @Styles.Render("~/Content/css/jqueryupload")
}

@{
    ViewBag.Title = "Edit Doctor";
    Layout = "~/Views/Shared/_Layout.ManagementDashboard.cshtml";
}


<h4>@ViewBag.Title</h4>
<hr/>

@using (Html.BeginForm("EditDoctor", "Admin", FormMethod.Post))
{
    @Html.EditorFor(model => model)   
}

@section scripts{
@Scripts.Render("~/bundles/js/imgResizeUpload")

<script>
        $(function() {
            var options = {
                inputSel: "#fileupload",
                relPath: "@Constants.DoctorPicsLocation",
                imgTagSel: "#imgContainer",
                inputGuidSel: "#picture-path",
                errorSpanSel: "#file-upload-error"
            };

            var imgUploader = new ImageUploader(options);
            imgUploader.Init();
        })
</script>

}