@model MyVanity.Model.AppointmentModels.Impl.AppointmentEditModel
           
@{
    ViewBag.Title = "Edit Appointment";
}

<h4>@ViewBag.Title</h4>
<hr/>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.Status)
    @Html.HiddenFor(model => model.StatusEnum)
    @Html.EditorForModel()  
}

@section scripts {
    @Scripts.Render("~/bundles/js/appointments")

    <script type="text/javascript">
        $(function () {
            $(".datetime").datepicker("option", "minDate", 0);

            var module = new AppointmentsModule({ searchButtonId: "search-procedures-btn", inputTextId: "procedure-identifier" });
            module.Init();
        })
    </script>
}

